---
- name: Install Certbot
  apt:
    name:
      - certbot
      - python3-certbot-nginx
    state: present

- name: Obtain Certificate (Interactive Stub)
  debug:
    msg: "Certificate run would go here. usage: 'certbot --nginx -d {{ ad_domain }}'"

- include_tasks: cron.yml
