[Unit]
Description=File Browser - Web File Manager
After=network.target

[Service]
User={{FILEBROWSER_USER}}
Group={{FILEBROWSER_USER}}

# The server command needs no flags. It will automatically load the config from
# /etc/filebrowser/.filebrowser.json and the database path from that config.
ExecStart=/usr/local/bin/filebrowser server

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target