
# krb5.conf template for Kerberos setup (updated for UNIBO and other realms)
# Placeholders Default_realm:      {{default_realm}}
# Placeholders Realms_block:       {{realms_block}}
# Placeholders Domain_realm_block: {{domain_realm_block}}  
# Placeholders Libdefaults_extra:  {{libdefaults_extra}}
# End Placeholders
###################################### 
# Start Configuration

[libdefaults]
[realms]
%%KRB5_REALMS_BLOCK%%

[domain_realm]
%%KRB5_DOMAIN_REALM_BLOCK%%
