name: Fast Lint (ShellCheck)

on:
  push:
    paths:
      - '**.sh'
  pull_request:
    paths:
      - '**.sh'
  workflow_dispatch:

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: '.'
          severity: 'error' # Optionally set to 'warning' or 'info'
